
footer{
    color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 25px;
    margin: 5% 7% 0% 7%;
    font-family: 'Montserrat', sans-serif;
}
footer span{
    color: #f0ae27;
}
h1{
    font-size: 20px;
}
p{
    font-size: 15px;
}
.moovie{
    font-size: 2em;
}
.icon{
    font-size: 25px;
}
